version: '3.9'

services:
   
    postgres:
      image: postgres:latest
      container_name: ${POSTGRES_CONTAINER}
      environment:
        - POSTGRES_DB=${DB_NAME}
        - POSTGRES_USER=${DB_USER}
        - POSTGRES_PASSWORD=${DB_PASSWORD}
      ports:
        - "${DB_PORT}:${DB_PORT}"
      volumes:
          - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

